<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}Registro de Documentos{% endblock %}</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css')}}">
  {% endblock %}
</head>

<body>
  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <img src="../static/images/fesf10.png" alt="Fesf 10 anos">
      </div>
      <div class="list-group list-group-flush">
        <a href="/cadastro" class="list-group-item list-group-item-action bg-light">Registro</a>
        <a href="/pesquisa" class="list-group-item list-group-item-action bg-light">Pesquisa</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Configurações</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" 
              id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" 
              aria-expanded="false">Opções</a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin">Painel Administrador</a>
                <a class="dropdown-item" href="#">Em construção</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid mt-2 ml-8">
        
        {% block content %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Início</li>
          </ol>
        </nav>
        <h1 class="mt-4">Teste sistema Gerenciamento de documentos</h1>
        <p>Inicialmente feito para ser um sistem de registro de documentos</p>
        <p></p>
        <p></p>
        <div class="row	mb-3">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 py2">
                <div class="card bg-success text-white h-100">
                    <div class="card-body bg-success">
                        <div class="rotate">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Usuários</h6>
                        <h1 class="display-4">1</h1>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4	col-xs-12 py2">
                 <div class="card text-white bg-info h-100">
                     <div class="card-body bg-info">
                         <div class="rotate">
                              <i class="fa fa-list fa-4x"></i>
                         </div>
                         <h6 class="text-uppercase">Tipos de Documentos</h6>
                         <h1 class="display-4">2</h1>
                     </div>
                 </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12 py2">
                <div class="card text-white bg-warning h-100">
                    <div class="card-body bg-warning">
                        <div class="rotate">
                            <i class="fa fa-briefcase fa-4x"></i>
                        </div>
                        <h6 class="text-uppercase">Documentos</h6>
                        <h1	class="display-4">3</h1>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
      </div>
    </div>
  </div>
    <!-- /#page-content-wrapper -->

  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.js"></script>
  <script src="../static/js/bootstrap.bundle.js"></script>

  <!-- Menu Toggle Script -->
</body>

</html>