<!doctype html>
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>
  <body>

  {% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Início</a></li>
      <li class="breadcrumb-item active" aria-current="page">Pesquisa Avançada</li>
      <li class="breadcrumb-item"></li>
    </ol>
  </nav>

    {% if form.errors %}
    <ul>
      {% for field_name, field_erros in form.errors|dictsort if field_erros%}
        {% for error in field_erros%}
           <li>{{ form[field_name].label}}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
  <br><br>
    <div class="container">
      <h1 class="text-center">Pesquisa de documentos registrados FESF</h1>
      <br>
      <br>
      <br>
      <form class="form form-horizontal" method="POST" role="form">
        {{ form.csrf_token }}

          <div class="row justify-content-start">
            {{ form.pesq_num.label(class="col-md-4 mb-0 col-form-label") }}
            {{ form.pesq_num(class="form-control form-control-sm col-md-2 mb-0", type='text') }}
          </div>
        <div class="row justify-content-start">
          <div class="form-group row">
            {{ form.pesq_tipo.label(class="col-md-5 mb-0 col-form-label") }}
            {{ form.pesq_tipo(class="form-control form-control-sm col-md-7 mb-0") }}
          </div>
          <div class="form-group row">
            {{ form.branco.label(class="col-md-2 mb-0 col-form-label") }}
            {{ form.pesq_req.label(class="col-md-3 mb-0 col-form-label") }}
            {{ form.pesq_req(class="form-control form-control-sm col-md-7 mb-0") }}
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="form-group row">
            {{ form.pesq_orig.label(class="col-md-5 <mb-0></mb-0> col-form-label") }}
            {{ form.pesq_orig(class="form-control form-control-sm col-md-7 mb-0") }}
          </div>
          <div class="form-group row">

          </div>
        </div>
        <div class="row justify-content-start">
          <div class="form-group row">
            {{ form.pesq_tipo_dest.label(class="col-md-5 mb-0 col-form-label") }}
            {{ form.pesq_tipo_dest(class="form-control form-control-sm col-md-7 mb-0") }}
          </div>
          <div class="form-group row">
            {{ form.branco.label(class="col-md-2 mb-0 col-form-label") }}
            {{ form.pesq_dest.label(class="col-md-3 mb-0 col-form-label") }}
            {{ form.pesq_dest(class="form-control form-control-sm col-md-7 mb-0") }}
          </div>   
        </div>
        <br>
        <div class="row justify-content-end">
          <p>
          <input type="reset" class="reset btn btn-outline-danger" value="Apagar">
            &nbsp;
          {{ form.botao1(class="btn btn-success") }}
          </p>
        </div>

      </form>

    </div>
  <script>
  tipodestino_select = document.getElementById('pesq_tipo_dest');
  destino_select = document.getElementById('pesq_dest');

  tipodestino_select.onchange = function(){
    tipo_destino= tipodestino_select.value;
    fetch('/destino/' + tipo_destino).then(function(response){
      response.json().then(function(data) {
        optionHTML = '';
        for (destino of data.destinos) {
          optionHTML += '<option value="' + destino.id + '">' + destino.name + '</option>'
        }
        destino_select.innerHTML = optionHTML;
      });
    });
  }

  </script>
  {% endblock %}
  </body>
</html>