{% extends "base.html" %}
<link rel="stylesheet" href="../static/css/sidebar.css">
{% block Head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registro de Documentos</title>
  <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap-grid.min.css">

  <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css')}}">
{% endblock %}
{% block content %}
<h1 class="mt-4">Formulário de Registro</h1>
    <form>
        <div class="form-group">
            <label for="tipoFormControlSelect">Tipo</label>
            <select class="form-control w-25 form-control-sm" style="min-width:100px;" id="tipoFormControlSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="solicitanteFormControlSelect">Solicitante</label>
            <select class="form-control w-50" id="solicitanteFormControlSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="objetoFormControlTextarea">Objeto</label>
            <textarea class="form-control w-50" id="objetoFormControlTextarea" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label for="origemFormControlSelect">Origem</label>
            <select class="form-control w-50" id="origemFormControlSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="destinoFormControlSelect">Destino</label>
            <select class="form-control w-50" id="destinoFormControlSelect">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            </select>
        </div>
    </form>
    <div class="col-lg-12" style="text-align: right;">
        <button type="button" class="btn btn-danger mr-auto apagar">Apagar</button>
        <button type="button" class="btn btn-success mr-auto salvar">Salvar</button>
    <p>The top navbar is optional, and just for demonstration. Just create an element with the
            <code>
                #menu-toggle
            </code> ID which will toggle the menu when clicked.
{% endblock %}